@media (prefers-color-scheme: dark) {
  body, input {
    background: #38383d;
    color: white;
  }
  .icon { content: url("icon-light.svg");}
}

body {
  overflow: hidden;
}

form  {
  display: table;
  padding: 1em 1em 2em 3em;
  border-spacing: 1em;
  z-index: 50;
}

form div {
  display: table-row;
}

label {
  display: table-cell;
  text-align: right;
}

input, button {
  border: 1px #666 solid;
  display: table-cell;
  padding: 0.3em;
  width: 100%;
}

button {
  border: none;
  padding: 0.8em;
  background-color: #9C27B0;
  text-align: center;
  color: white;
}


.icon {
  width: 16em;
  height: 16em;
  position: absolute;
  bottom: -3em;
  left: -4.5em;
  opacity: 0.1;
  z-index: 10;
}
