body {
  overflow: hidden;
}

form  {
  display: table;
  border-spacing: 1em;
  z-index: 50;
}

form div {
  display: table-row;
}

label {
  display: table-cell;
  text-align: right;
}

input {
  display: table-cell;
  padding: 0.2em;
  width: 100%;
}

.icon {
  width: 14em;
  height: 14em;
  position: absolute;
  bottom: -3em;
  left: -4em;
  opacity: 0.15;
  z-index: 10;
}